*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    
  }
  header{
    display: flex;
  }
  p{
    margin: 3rem 5rem 5rem 5rem;
  }
  ul{
    display: flex;
    margin-left: 40rem;
  }
  li{
    margin: 3rem 1rem 0 1rem;
    cursor: pointer;
  }
  .simbolo-witcher{
    margin-left: 10rem;
  }
  body{
    
    background-image: url(img/the\ witcher\ hell.png);
      background-size: cover;
      background-repeat: no-repeat;
  }
  .men{
    background-image: url(img/the\ witcher\ kavil2.png);
    display: block;
    width: 38vw; 
    height: 1000px;
    margin-left: 30rem;
    background-repeat: no-repeat;
  }
  .witcher{
    margin-left: 9rem;
    margin-top: 29rem;
  }
  .botao{
    margin-left: 12rem;
    cursor: pointer;
  }